.feedback{
  width: 320px;
  display: flex;
  font-family: 'TT Lakes Regular', serif;
  height: 100%;
  justify-content: flex-start;

  flex-direction: column;
  position: fixed;
  top: 0;
  right: -320px;
  transition: all 0.3s ease-in-out;
  transform-origin: top right;
  transform: translateX(-320) scaleX(1);

  background: $bgWhite;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: $clrText;
  font-weight: 500;

  &--state--active{
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);

    right: 0;
    transform-origin: top right;
    transition: all 0.3s ease-in-out;
    transform: translateX(0) scaleX(1);

    width: 320px;
    display: flex;
    font-family: 'TT Lakes Regular', serif;
    height: 100%;
    justify-content: flex-start;

    flex-direction: column;
    position: fixed;
    top: 0;
    background: $bgWhite;
    z-index: 10;

    @media (min-width: 1120px) {
      width: 440px;
    }
  }

  &__cancel-1120{
    display: none;
    @media (min-width: 1120px) {
      position: fixed;
      top: 32px;
      right: 512px;
      background: none;
      &--active{
        display: block;
        cursor: pointer;
        z-index: 10;
      }
    }
  }
}

@import "./feedback-header";
@import "./feedback-main";
@import "./feedback-form";
