.blog{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  &__image{
    max-width: 50%;
    margin-bottom: 49px;

    @media (max-width: 767px){
      background: transparent;
      max-width: 100%;
    }

    img{
      width: 100%;

      @media (min-width: 768px) {
        border-radius: 6px;
      }
    }
  }
  &__post{
    display: flex;
    flex-direction: column;
    max-width: 50%;

    @media (max-width: 767px){
      background: transparent;
      max-width: 100%;
    }
  }
  &__text{
    line-height: 20px;
    letter-spacing: -0.2px;
    color: $clrText;
    padding: 20px 16px 8px 16px;

    align-self: flex-start;
    max-height: 120px;
    overflow: hidden;

    @media (max-width: 767px){
      background: transparent;
      max-width: 100%;
      padding: 20px 16px 8px 16px;
    }
    @media (max-width: 1119px) {
      padding: 20px 16px 8px 24px;
    }
    @media (min-width: 1119px) {
      padding: 20px 16px 8px 32px;
    }

    &--state--active{
      overflow: visible;
      max-height: 100%;
    }
  }
}

@import "./blog-more";
@import "./blog-hide";
