.services {
  font-family: 'TT Lakes', serif;
  background: $bgBody;
  min-width: 0;
  max-width: 1121px;
  margin: 0 auto;

}

@import "./services-header";
@import "./services-main";
@import "./services-more";
@import "./services-hide";
@import "./services-swiper";
