.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 88px;

  padding-bottom: 24px;
  padding-top: 24px;
  background: $bgWhite;
  border-bottom: 1px solid $brHeader;

  min-width: 320px;

  @media (min-width: 1120px){
    display: none;
  }

  &__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }
  &__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@import './burger';
@import './call';
@import './chat';
@import './checkstatus';
@import './logo';
@import './profile';
@import './repair';
