.burger{
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: 767px) {
    padding-left: 24px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px solid $btnBorderHead;
  }
}
