.footer{
  font-family: 'TT Lakes', serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $clrSlidemenu;

  mix-blend-mode: normal;
  opacity: 0.72;
  border-top: 1px solid $border;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;


  &__text-one{
    padding-top: 16px;
    width: 100%;
    @media (min-width: 767px){
      width: 218px;
      text-align: left;
      padding-left: 24px;
      padding-top: 32px;
      padding-bottom: 21px;
    }
    @media (min-width: 1119px){
      padding-left: 32px;
    }
  }
  &__text-two{
    padding-top: 16px;
    width: 100%;
    @media (min-width: 767px){
      width: 214px;
      padding-top: 32px;
    }
  }
  &__text-three{
    padding-top: 16px;
    padding-bottom: 19px;
    width: 100%;
    @media (min-width: 767px){
      width: 213px;
      text-align: right;
      padding-right: 24px;
      padding-top: 32px;
    }
    @media (min-width: 1119px){
      width: 330px;
      text-align: right;
      padding-right: 32px;
    }
  }
}
