.main-menu{
  width: 320px;
  display: flex;
  font-family: 'TT Lakes Regular', serif;
  height: 100%;
  justify-content: flex-start;

  flex-direction: column;
  position: fixed;
  top: 0;
  left: -320px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-320) scaleX(1);

  background: $bgWhite;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: $clrText;
  font-weight: 500;

  @media (min-width: 1119px) {
    left: auto;
  }
  @media (max-height: 770px) {
    img:not(.logo__image) {
      max-height: 5vh;
    }
    .logo__image{
      max-height: 6vh;
    }
  }

  &--state--active{
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);

    left: 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(0) scaleX(1);

    width: 320px;
    display: flex;
    font-family: 'TT Lakes Regular', serif;
    height: 100%;
    justify-content: flex-start;

    flex-direction: column;
    position: fixed;
    top: 0;
    //left: auto;
    background: $bgWhite;
    z-index: 3;
  }
}

@import "./main-menu-header";
@import "./main-menu-main";
@import "./main-menu-footer";
