.brands {
  font-family: 'TT Lakes Regular', serif;
  background: $bgBody;
  min-width: 0;
  max-width: 1121px;
  margin: 0 auto;
}

@import "./brands-header";
@import "./brands-main";
@import "./brands-more";
@import "./brands-hide";
@import "./brands-swiper";
