$bgWhite: #FFFFFF;
$brHeader: #D9FFF5;
$btnBorderHead: #EAEAEA;
$bgBody: #F8F8F8;
$borderItem: #41F6D7;
$clrSlidemenu:#7E7E82;
$brSlidebar: #B8FFEC;
$clrText: #1B1C21;
$bgSwiper: #DDDDDD;
$bgActiveSwiper: #B5B6BC;
$tableBtn: #FF3E79;
$border: #D9FFF5;


@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  min-width: 320px;
  font-family: 'TT Lakes Regular', serif;
  background: $bgBody;
  max-width: 1440px;
  margin: auto;
  &__general{
    @media (min-width: 1120px) {
      max-width: 1120px;
      margin-left: 320px;
    }

    &-blur{
      filter: blur(10px) opacity(50%);
      transition: all 0.3s ease-in-out;
    }
  }
}

.button{
  background: $bgWhite;
  font-family: 'TT Lakes Regular', serif;
  font-size: 16px;
  line-height: 24px;

  &:hover{
    transition-duration: 0.7s;
    filter: opacity(80%);
  }
}

button:hover, a:hover{
  cursor:pointer;
}

a{
  text-decoration: none;
  color: $clrText;
}

li {
  list-style-type: none;
  flex-shrink: 0;
}

@import "./header/_header";
@import "./main/_main";
@import "./footer/_footer";

@import "./main-menu/main-menu";
@import "./feedback/feedback";
@import "./back-call/back-call";

@import "./help-block/help-block";
@import "./help-block/help-block-feedback";
@import "./help-block/help-block-back-call";
